---
import ArticlePreview from "../../../components/ArticlePreview.astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";

let articles = Array<Object>();

try {
articles = await Astro.glob("../../../content/articles/meinungen/**/*.md")
} catch (e) {
  console.info("Keine Artikel für Seite 'Meinungen' gefunden");
};
---

<DefaultLayout pageTitle="Meinungen">
  {
    articles.map((article: any) => {
      <ArticlePreview article={article} />
    })
  }

  {articles.length == 0 && <h1 class="error">Es wurden keine Artikel gefunden</h1>}
</DefaultLayout>

<style>
  .error {
    width: 100%;
    margin-top: 2em;
    text-align: center;
  }
</style>
