:root {
  /* Font */
  --font-family--default: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family--header: "Times New Roman", Times, serif;

  /* Container Sizes */
  --header-height: 140px;
  --header-tab-height: 32px;
  --main-width: min(1100px, 100%);

  /* Colors */
  --sub-background: #dbdbdb;
  --background: #f5f5f5;
  --on-background: #151515;
  --surface: #f3f3f3;
  --on-surface: #151515;
  --primary: /* #006a8a */ #151515;
  --on-primary: #f3f3f3;
  --hover-primary: /* #008fbb */ #222222;
  --side: #151515;
  --on-side: #f3f3f3;
  --a: #003765;
  --hover-a: #00569c;
}
