---
import FooterBar from "../components/FooterBar.astro";
import HeaderBar from "../components/HeaderBar.astro";

type LayoutProps = {
  pageTitle: string;
};

const props = Astro.props as LayoutProps;
import "../styles/base.css";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{props.pageTitle} | FrankfurtTimes</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
  </head>
  <body>
    <div class="main__wrapper">
      <HeaderBar />
      <main>
        <slot />
      </main>
      <FooterBar />
    </div>
  </body>
</html>

<style>
  @import url(../styles/root.css);

  main {
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
  }
</style>
